/* Editor */
.editor {
    position: relative;
}
.editor .render {
    height: 240px;
    width: 320px;
    margin: 8px auto;
}
.editor .source {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.editor .controls {
    position: absolute;;
    z-index: 100;
    right: 8px;
    margin-top: -12px;
}
.editor .controls button {
    float: right;
}
.editor .errors {
    color: #ee0000;
    padding: 8px;
    font-size: 12px;
    background: #fee;
    border-bottom: 1px solid #eee;
}
.editor .errors .error {
    font-weight: bold
}
.editor .errors .message {
    font-style: italic;
}
.editor .errors .position {
    display: block;
    margin-top: 4px;
}
.editor.no-run .controls,
.editor.no-run .render {
    display: none;
}

/* html type */
.editor.html .render {
    height: 400px;
    width: 800px;
    text-align: center;
}
.editor.html .render iframe {
    height: 100%;
    width: 100%;
    border: none;
}

/* CodeMirror */
.CodeMirror {
    background: #fafafa;
}
.CodeMirror.CodeMirror-focused {
}
.CodeMirror-scroll {
    height: auto;
    overflow: visible;
    overflow-x: auto;
}
.CodeMirror-lines pre,
.CodeMirror-gutter pre {
    line-height: 16px;
}

