
body {
  font-family : sans-serif;
}

#example {
  width : 600px;
  height : 400px;
}
#example-source pre {
  padding: 12px 12px;
  display: block;
  background: #eee;
  white-space : pre;
  font-weight: 600;
  margin: 0px 18px;

}

#examples .example {
  font-size: 11px;
  width: 200px;
  height: 120px;
}
