body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}

#wrapper{
	width: 700px;
	margin: 50px auto;
}

a:link, a:visited{
	color: #004892;
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: #1763b5;
}

a:focus, a:hover, a:active{
	color: #3c85d4;
	background-color: #b6d9ff;
}

h1, h2, h3 {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-style:italic;
	font-weight:normal;
	letter-spacing:-1px;
	font-size: 1.5em;
	color: #050404;
}

h2{
	font-size: 1.4em;
}

p{
	margin: 10px;
}

code {
	background: #b6d9ff;
	font-size: 0.9em;
	color: #004892;
}

pre{
	border: 4px solid #B6D9FF;
	background:#d2e8ff;
	color: #004892;
	padding: 15px;
	margin:5px 0;
}

pre code{
	background-color: transparent;
	display:block;
	line-height:16px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:pre;
	padding:0 5px;
}

#footer{
	margin: 30px 0;
	text-align:center;
}

iframe {
	border:3px solid #B6D9FF;
}

.ad{
	width: 740px;
	margin: 10px auto;
}

.flotr-datagrid-container {
  border: 1px solid #999;
  border-bottom: none;
  background: #fff;
}
.flotr-datagrid {
  border-collapse: collapse;
  border-spacing: 0;
}
.flotr-datagrid td, .flotr-datagrid th {
  border: 1px solid #ccc;
  padding: 1px 3px;
  min-width: 2em;
}
.flotr-datagrid tr:hover, .flotr-datagrid col.hover {
  background: #f3f3f3;
}
.flotr-datagrid tr:hover th, .flotr-datagrid th.hover {
  background: #999;
  color: #fff;
}
.flotr-datagrid th {
  text-align: left;
  background: #e3e3e3;
  border: 2px outset #fff;
}
.flotr-datagrid-toolbar {
	padding: 1px;
  border-bottom: 1px solid #ccc;
  background: #f9f9f9;
}
.flotr-datagrid td:hover {
  background: #ccc;
}
.flotr-datagrid .first-row th {
  text-align: center;
}
.flotr-canvas {
  margin-bottom: -3px;
  padding-bottom: 1px;
}
.flotr-tabs-group {
	border-top: 1px solid #999;
}
.flotr-tab {
  border: 1px solid #666;
  border-top: none;
  margin: 0 3px;
  padding: 1px 4px;
  cursor: pointer;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-radius: 0 0 4px 4px;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.flotr-tab.selected {
  background: #ddd;
  opacity: 1;
  -moz-opacity: 1;
}
.flotr-tab:hover {
  background: #ccc;
}